@charset "utf-8";
/* CSS Document */
.sheet-griditem {
    border: 2px solid blue; ;
}

ul {
    list-style: none;
}
.sheet-dicepicker {
    padding-top:10px;
    font-size: 30px;  
}

.sheet-item-header {
  grid-area: header;
}

.sheet-item-roll {
  grid-area: roll;
}

.sheet-item-dice {
  grid-area: dice;
}

.sheet-item-affiliations_title {
  grid-area: aff_title;
}

.sheet-item-affiliations_body {
  grid-area: aff_body;
}

.sheet-item-distinctions_title {
  grid-area: dist_title;
}

.sheet-item-distinctions_body {
  grid-area: dist_body;
}

.sheet-item-roles_title {
  grid-area: role_title;
}

.sheet-item-roles_body {
  grid-area: role_body;
}

.sheet-item-talents_title {
  grid-area: talents_title;
}

.sheet-item-talents_body {
  grid-area: talents_body;
}

.sheet-item-resources_title {
  grid-area: resources_title;
}

.sheet-item-resources_body {
  grid-area: resources_body;
}

.sheet-item-stress_title {
  grid-area: stress_title;
}

.sheet-item-stress_body {
  grid-area: stress_body;
}

.sheet-item-h {
  grid-area: footer;
  background-color: tomato
}

.sheet-container {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto;
  grid-template-areas: 
    "header header header headewr plot roll roll roll"
    "aff_title aff_body aff_body aff_body dist_title dist_body dist_body dist_body"
    "role_title role_body role_body role_body talents_title talents_body talents_body talents_body"
    "resources_title resources_body resources_body resources_body stress_title stress_body stress_body stress_body"
    "footer footer footer footer footer footer footer footer";
}

.sheet-rotated {
  writing-mode: vertical-lr;
  background-color: #80cbc4;
  border: 1px solid green;
  padding: 20px;
  font-size: 40px;
}

.sheet-styled-select { 
	margin: 0px;
	padding: 5px; 
	border: 2px solid pink; 
	width: 300px;
	height: 30px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}

.sheet-styled-select > ul > li > label > input[type="radio"],
.sheet-styled-select > ul > li > label > img { 
	display: none; 
}

.sheet-styled-select > ul > li > label > input[type="radio"]:checked + img { 
	display: block;
	float:left;
    opacity: 1;
    filter: alpha(opacity=100);
}

.sheet-styled-select > ul > li > label { 
    margin: 0px;
}

.sheet-styled-select > ul > li > label > img { 
	opacity: 0.4;
    filter: alpha(opacity=40);
}
	
.sheet-styled-select > ul > li > label > input[type="radio"] { 
	visibility: hidden;
}

.sheet-styled-select > ul:hover > li > label > input[type="radio"],
.sheet-styled-select > ul:hover > li > label > img,
.sheet-styled-select:hover > ul > li > label > input[type="radio"],
.sheet-styled-select:hover > ul > li > label > img { 
	display: block;
	float:left;
}
	
.sheet-styled-select > ul {
	list-style: none;
	padding-left: 0px;
	padding-top: 0px;
	margin-top: 0px; 
	margin-left: 8px;
}
	
.sheet-styled-select:hover > ul,
.sheet-styled-select > ul:hover {
	display: block; 
	background-color: white; 
}

.sheet-styled-select:hover > ul > li > label > input[type="radio"],
.sheet-styled-select:hover > ul > li > label > img { 
	display: block;
}
	
.sheet-styled-select:hover > ul > li,
.sheet-styled-select > ul:hover > li {
	float: left;
	/*margin: -10px;*/
}
	
.sheet-styled-select > ul > li {
	margin-top: 0px !important;
	margin-left: 0px !important;
}

.sheet-styled-select2 { 
	margin: 0px;
	padding: 5px; 
	border: 2px solid pink; 
	width: 180px;
	height: 30px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}

.sheet-styled-select2 > ul > li > label > input[type="checkbox"],
.sheet-styled-select2 > ul > li > label > img { 
	display: none; 
}

.sheet-styled-select2 > ul > li > label > input[type="checkbox"]:checked + img { 
	display: block;
	float:left;
    opacity: 1;
    filter: alpha(opacity=100);
}

.sheet-styled-select2 > ul > li > label { 
    margin: 0px;
}

.sheet-styled-select2 > ul > li > label > img { 
    opacity: 0.4;
    filter: alpha(opacity=40);
}
	
.sheet-styled-select2 > ul > li > label > input[type="checkbox"] { 
	visibility: hidden;
}

.sheet-styled-select2 > ul:hover > li > label > input[type="checkbox"],
.sheet-styled-select2 > ul:hover > li > label > img,
.sheet-styled-select2:hover > ul > li > label > input[type="checkbox"],
.sheet-styled-select2:hover > ul > li > label > img { 
	display: block;
}
	
.sheet-styled-select2 > ul {
	list-style: none;
	padding-left: 0px;
	padding-top: 0px;
	margin-top: 0px; 
	margin-left: 8px;
}
	
.sheet-styled-select2:hover > ul,
.sheet-styled-select2 > ul:hover {
	display: block; 
	background-color: white; 
}

.sheet-styled-select2:hover > ul > li > label > input[type="checkbox"],
.sheet-styled-select2:hover > ul > li > label > img { 
	display: block;
}
	
.sheet-styled-select2:hover > ul > li,
.sheet-styled-select2 > ul:hover > li {
	float: left;
	margin: -10px;
}
	
.sheet-styled-select2 > ul > li {
	margin-top: 0px !important;
	margin-left: 0px !important;
}

.sheet-diceblock {
	margin: 0px;
	padding: 5px; 
	border: 2px solid pink; 
	width: 350px;
	height: 60px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px
}

.sheet-diceblock > span {
	list-style: none;
	padding-left: 0px;
	padding-top: 0px;
	margin-top: 0px; 
	margin-left: 8px;
}

.sheet-diceblock > span > img {
    float:left;
    margin-left:10px;
}

.sheet-controller_d12_1[value*="one"] ~ *{
    --reciever_d12_1-display:none;
}

.sheet-controller_d12_1[value*="two"] ~ *{
    --reciever_d12_1-display:block;
}

.sheet-controller_d12_2[value*="one"] ~ *{
    --reciever_d12_2-display:none;
}

.sheet-controller_d12_2[value*="two"] ~ *{
    --reciever_d12_2-display:block;
}

.sheet-controller_d10_1[value*="one"] ~ *{
    --reciever_d10_1-display:none;
}

.sheet-controller_d10_1[value*="two"] ~ *{
    --reciever_d10_1-display:block;
}

.sheet-controller_d10_2[value*="one"] ~ *{
    --reciever_d10_2-display:none;
}

.sheet-controller_d10_2[value*="two"] ~ *{
    --reciever_d10_2-display:block;
}

.sheet-controller_d8_1[value*="one"] ~ *{
    --reciever_d8_1-display:none;
}

.sheet-controller_d8_1[value*="two"] ~ *{
    --reciever_d8_1-display:block;
}

.sheet-controller_d8_2[value*="one"] ~ *{
    --reciever_d8_2-display:none;
}

.sheet-controller_d8_2[value*="two"] ~ *{
    --reciever_d8_2-display:block;
}

.sheet-controller_d8_3[value*="one"] ~ *{
    --reciever_d8_3-display:none;
}

.sheet-controller_d8_3[value*="two"] ~ *{
    --reciever_d8_3-display:block;
}

.sheet-controller_d6_1[value*="one"] ~ *{
    --reciever_d6_1-display:none;
}

.sheet-controller_d6_1[value*="two"] ~ *{
    --reciever_d6_1-display:block;
}

.sheet-controller_d6_2[value*="one"] ~ *{
    --reciever_d6_2-display:none;
}

.sheet-controller_d6_2[value*="two"] ~ *{
    --reciever_d6_2-display:block;
}

.sheet-controller_d4_1[value*="one"] ~ *{
    --reciever_d4_1-display:none;
}

.sheet-controller_d4_1[value*="two"] ~ *{
    --reciever_d4_1-display:block;
}

.sheet-controller_d4_2[value*="one"] ~ *{
    --reciever_d4_2-display:none;
}

.sheet-controller_d4_2[value*="two"] ~ *{
    --reciever_d4_2-display:block;
}

.sheet-controller_d4_3[value*="one"] ~ *{
    --reciever_d4_3-display:none;
}

.sheet-controller_d4_3[value*="two"] ~ *{
    --reciever_d4_3-display:block;
}

.sheet-receiver_d12_1{
    display:var(--reciever_d12_1-display);
}

.sheet-receiver_d12_2{
    display:var(--reciever_d12_2-display);
}

.sheet-receiver_d10_1{
    display:var(--reciever_d10_1-display);
}

.sheet-receiver_d10_2{
    display:var(--reciever_d10_2-display);
}

.sheet-receiver_d8_1{
    display:var(--reciever_d8_1-display);
}

.sheet-receiver_d8_2{
    display:var(--reciever_d8_2-display);
}

.sheet-receiver_d8_3{
    display:var(--reciever_d8_3-display);
}

.sheet-receiver_d6_1{
    display:var(--reciever_d6_1-display);
}

.sheet-receiver_d6_2{
    display:var(--reciever_d6_2-display);
}

.sheet-receiver_d4_1{
    display:var(--reciever_d4_1-display);
}

.sheet-receiver_d4_2{
    display:var(--reciever_d4_2-display);
}

.sheet-receiver_d4_3{
    display:var(--reciever_d4_3-display);
}


.sheet-resource_d10_1[value*="one"] ~ *{
    --resource_d10_1-display:none;
}

.sheet-resource_d10_1[value*="two"] ~ *{
    --resource_d10_1-display:block;
}

.sheet-resource_d10_2[value*="one"] ~ *{
    --resource_d10_2-display:none;
}

.sheet-resource_d10_2[value*="two"] ~ *{
    --resource_d10_2-display:block;
}

.sheet-resource_d10_3[value*="one"] ~ *{
    --resource_d10_3-display:none;
}

.sheet-resource_d10_3[value*="two"] ~ *{
    --resource_d10_3-display:block;
}

.sheet-resource_d10_4[value*="one"] ~ *{
    --resource_d10_4-display:none;
}

.sheet-resource_d10_4[value*="two"] ~ *{
    --resource_d10_4-display:block;
}

.sheet-resource_d10_5[value*="one"] ~ *{
    --resource_d10_5-display:none;
}

.sheet-resource_d10_5[value*="two"] ~ *{
    --resource_d10_5-display:block;
}

.sheet-resource_d10_6[value*="one"] ~ *{
    --resource_d10_6-display:none;
}

.sheet-resource_d10_6[value*="two"] ~ *{
    --resource_d10_6-display:block;
}

.sheet-resource_d8_1[value*="one"] ~ *{
    --resource_d8_1-display:none;
}

.sheet-resource_d8_1[value*="two"] ~ *{
    --resource_d8_1-display:block;
}

.sheet-resource_d8_2[value*="one"] ~ *{
    --resource_d8_2-display:none;
}

.sheet-resource_d8_2[value*="two"] ~ *{
    --resource_d8_2-display:block;
}

.sheet-resource_d8_3[value*="one"] ~ *{
    --resource_d8_3-display:none;
}

.sheet-resource_d8_3[value*="two"] ~ *{
    --resource_d8_3-display:block;
}

.sheet-resource_d8_4[value*="one"] ~ *{
    --resource_d8_4-display:none;
}

.sheet-resource_d8_4[value*="two"] ~ *{
    --resource_d8_4-display:block;
}

.sheet-resource_d8_5[value*="one"] ~ *{
    --resource_d8_5-display:none;
}

.sheet-resource_d8_5[value*="two"] ~ *{
    --resource_d8_5-display:block;
}

.sheet-resource_d8_6[value*="one"] ~ *{
    --resource_d8_6-display:none;
}

.sheet-resource_d8_6[value*="two"] ~ *{
    --resource_d8_6-display:block;
}

.sheet-resource_d6_1[value*="one"] ~ *{
    --resource_d6_1-display:none;
}

.sheet-resource_d6_1[value*="two"] ~ *{
    --resource_d6_1-display:block;
}

.sheet-resource_d6_2[value*="one"] ~ *{
    --resource_d6_2-display:none;
}

.sheet-resource_d6_2[value*="two"] ~ *{
    --resource_d6_2-display:block;
}

.sheet-resource_d6_3[value*="one"] ~ *{
    --resource_d6_3-display:none;
}

.sheet-resource_d6_3[value*="two"] ~ *{
    --resource_d6_3-display:block;
}

.sheet-resource_d6_4[value*="one"] ~ *{
    --resource_d6_4-display:none;
}

.sheet-resource_d6_4[value*="two"] ~ *{
    --resource_d6_4-display:block;
}

.sheet-resource_d6_5[value*="one"] ~ *{
    --resource_d6_5-display:none;
}

.sheet-resource_d6_5[value*="two"] ~ *{
    --resource_d6_5-display:block;
}

.sheet-resource_d6_6[value*="one"] ~ *{
    --resource_d6_6-display:none;
}

.sheet-resource_d6_6[value*="two"] ~ *{
    --resource_d6_6-display:block;
}

.sheet-rresource_d10_1{
    display:var(--resource_d10_1-display);
}

.sheet-rresource_d10_2{
    display:var(--resource_d10_2-display);
}

.sheet-rresource_d10_3{
    display:var(--resource_d10_3-display);
}

.sheet-rresource_d10_4{
    display:var(--resource_d10_4-display);
}

.sheet-rresource_d10_5{
    display:var(--resource_d10_5-display);
}

.sheet-rresource_d10_6{
    display:var(--resource_d10_6-display);
}

.sheet-rresource_d8_1{
    display:var(--resource_d8_1-display);
}

.sheet-rresource_d8_2{
    display:var(--resource_d8_2-display);
}

.sheet-rresource_d8_3{
    display:var(--resource_d8_3-display);
}

.sheet-rresource_d8_4{
    display:var(--resource_d8_4-display);
}

.sheet-rresource_d8_5{
    display:var(--resource_d8_5-display);
}

.sheet-rresource_d8_6{
    display:var(--resource_d8_6-display);
}

.sheet-rresource_d6_1{
    display:var(--resource_d6_1-display);
}

.sheet-rresource_d6_2{
    display:var(--resource_d6_2-display);
}

.sheet-rresource_d6_3{
    display:var(--resource_d6_3-display);
}

.sheet-rresource_d6_4{
    display:var(--resource_d6_4-display);
}

.sheet-rresource_d6_5{
    display:var(--resource_d6_5-display);
}

.sheet-rresource_d6_6{
    display:var(--resource_d6_6-display);
}

.sheet-control1-label{
    background-color:var(--control1-bg);
}

.sheet-control2-label{
    background-color:var(--control2-bg);
}

.sheet-control3-label{
    background-color:var(--control3-bg);
}

.sheet-header1{
    font-size: 40px;
}

.sheet-header2{
    font-size: 25px;
}

.sheet-rolltemplate-container {
    background-color: rgb(126, 45, 64);
    border: 4px solid rgb(126, 45, 64);
    padding: 2px;
    margin 10px
    width: 220px;
}

.sheet-rolltemplate-header {
    background-color: rgb(126, 45, 64);
    color: #fff;
    font-size: 1.8em;
    font-variant: small-caps;
    line-height: 20px;
    margin:10px;
}

.sheet-rolltemplate-subheader {
    background-color: #fff;
    padding-top:10px;
    color: #000;
    font-family: "Times New Roman", Times, serif;
    font-size: 1.5em;
    font-style: italic;
    font-variant: small-caps;
}

.sheet-arrow-right {
    background-color: #fff;
    border-bottom: 2px solid transparent;
    border-left: 180px solid #fff;
    border-top: 2px solid transparent;
}

.sheet-rolltemplate-keptdice {
    background-color: #fff;
    color: #3FB315;
    font-family: "Times New Roman", Times, serif;
    font-size: 1.2em;
    font-variant: small-caps;
    line-height: 1.6em;
    padding-left: 10px;
    text-align: left;
}

.sheet-rolltemplate-unkeptdice {
    background-color: #fff;
    color: #B31515;
    font-family: "Times New Roman", Times, serif;
    font-size: 1.2em;
    font-variant: small-caps;
    line-height: 1.6em;
    padding-left: 10px;
    text-align: left;
}

.sheet-rolltemplate-footer {
    background-color: rgb(126, 45, 64);
    margin:10px;
	color: #fff;
	font-variant: small-caps;
    font-size: 1.8em;
}

.sheet-rolltemplate-footer2 {
    background-color: rgb(235, 199, 223);
    padding:10px;
	color: #fff;
	font-variant: small-caps;
    font-size: 1.6em;
}
