.sheet-rolltemplate-cortex_roll .sheet-template-container {
    background-color: #ffffff;
    border: 1px solid;
    padding: 2px;
    width: 189px;
}

.sheet-template-header {
    color: rgb(126, 45, 64);
    font-size: 1.2em;
    font-variant: small-caps;
    line-height: 20px;
}

.sheet-rolltemplate-cortex_roll .sheet-template-subheader {
    color: #000;
    font-size: 1em;
    font-style: italic;
}

.sheet-rolltemplate-cortex_roll .sheet-arrow-right {
    border-bottom: 2px solid transparent;
    border-left: 180px solid rgb(126, 45, 64);
    border-top: 2px solid transparent;
}

.sheet-rolltemplate_keptdice {
    color: #3FB315;
    font-family: "Times New Roman", Times, serif;
    font-size: 1.2em;
    font-variant: small-caps;
    line-height: 1.6em;
    padding-left: 5px;
    text-align: left;
}

.sheet-rolltemplate_unkeptdice {
    color: #B31515;
    font-family: "Times New Roman", Times, serif;
    font-size: 1.2em;
    font-variant: small-caps;
    line-height: 1.6em;
    padding-left: 5px;
    text-align: left;
}

.sheet-rolltemplate-footer {
	color: #000;
    font-size: 3em;
}