@charset "utf-8";
/* CSS Document */

.sheet-container {
  display: grid;
  grid-template-columns: repeat(3,"1fr");
  grid-template-rows: auto;
  grid-template-areas: 
    "header header header"
    "abilities_1 . abilities_2"
    "footer footer footer";
  grid-gap: 8px;
}

.sheet-container > div {
  background-color: limegreen;
  color: white;
  font-size: 3.2vw;
  padding: 8px;
}

.sheet-ability_grid {
	display: grid;
	grid-template-columns: minmax(30px, 200px) minmax(30px, 200px) minmax(30px, 200px);
	grid-gap: 5px;
}

.sheet-ability_grid > span {
  background: lightgreen;
  font-size: 1vw;
  padding: 8px;
}

.sheet-ability_grid > span.sheet-attribute_header {
  font-size: 2.4vw;
}

.sheet-ability_grid > span.sheet-attribute_sub_header {
  	grid-column: span 3;
	font-size: 2vw;
}

.sheet-container_header {
	grid-area:header;
}

.sheet-attribute_block1 {
	grid-area: abilities_1;	
}
.sheet-attribute_block2 {
	grid-area: abilities_2;	
}
.sheet-container_footer {
	grid-area: footer;	
}
